In [6]:
import numpy as np
import pandas as pd
import sqlite3 as sql
import plotly.graph_objs as go ### para gráficos
import plotly.express as px
#import a_funciones as fn
import matplotlib.pyplot as plt

In [7]:
conn=sql.connect('db_movies') ### crear cuando no existe el nombre de cd  y para conectarse cuando sí existe.
cur=conn.cursor() ###para funciones que ejecutan sql en base de datos

In [13]:
# Iniciar la ejecución de las consultas

## crear tabla con usuarios con más de 50 películas vistas y menos de 1000
    # Eliminar tabla 'usuarios_sel' si existe y crear una nueva
cur.execute("""
DROP TABLE IF EXISTS usuarios_sel;
CREATE TABLE usuarios_sel AS 
SELECT "userId" AS user_id, COUNT(*) AS cnt_rat
FROM ratings
GROUP BY "userId"
HAVING cnt_rat > 50 AND cnt_rat <= 1000
ORDER BY cnt_rat DESC;
"" "" "")
## crear tabla con películas que han sido vistas por más de 50 usuarios
# Eliminar tabla 'movies_sel' si existe y crear una nueva
cur.execute('''
DROP TABLE IF EXISTS movies_sel;
CREATE TABLE movies_sel AS 
SELECT movieId, COUNT(*) AS cnt_rat
FROM ratings
GROUP BY movieId
HAVING cnt_rat > 50
ORDER BY cnt_rat DESC;
''')
## crear tablas filtradas de películas, usuarios y calificaciones
# Crear tabla 'ratings_final'
cur.execute('''
DROP TABLE IF EXISTS ratings_final;
CREATE TABLE ratings_final AS
SELECT a."userId" AS user_id, a.movieId AS movieid, a."rating" AS movie_rating
FROM ratings a
INNER JOIN movies_sel b ON a.movieId = b.movieid
INNER JOIN usuarios_sel c ON a."userId" = c.user_id;
''')

 # Crear tabla 'users_final'
cur.execute('''
DROP TABLE IF EXISTS users_final;
CREATE TABLE users_final AS
SELECT a."userId" AS user_id, a.timestamp AS ltimestamp
FROM users a
INNER JOIN usuarios_sel c ON a."userId" = c.user_id;
''')
# Crear tabla 'books_final'
cur.execute('''
DROP TABLE IF EXISTS movies_final;
CREATE TABLE movies_final AS
SELECT a.rating AS rating, a."title" AS movie_title, a."genres" AS genres,
FROM movies a
INNER JOIN movies_sel c ON a.ratings = c.ratings;
''')



# Guardar los cambios
conn.commit()

# Cerrar la conexión si es necesario
# conn.close()

ProgrammingError: You can only execute one statement at a time.

In [15]:
cur.execute("""
DROP TABLE IF EXISTS usuarios_sel;
CREATE TABLE usuarios_sel AS 
SELECT "userId" AS user_id, COUNT(*) AS cnt_rat
FROM ratings
GROUP BY "userId"
HAVING cnt_rat > 50 AND cnt_rat <= 1000
ORDER BY cnt_rat DESC;
""")

ProgrammingError: You can only execute one statement at a time.